* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #606060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;


}
h1 img {
    padding-left: 15vw;
}

.links {
    padding-right: 15vw;
}
.links  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    flex-direction: row;

}

.page-links{
    padding-left:40px;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: yellow;
    text-decoration: underline;
    transition: ease-in-out 0.4s;
}

/* deixar responsivo*/
@media (max-width: 600px) {
    .links ul {
        flex-direction: column;
    }
    li {
        padding-bottom: 5px;
    }
}