* {
    padding: 0px;
    margin: 0px;
}
/*Header*/

header {
    background-color: #606060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;


}
.imagen-logo{
    padding-left: 15vw;
}

.links {
    padding-right: 15vw;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    flex-direction: row;

}

.page-links{
    padding-left:40px;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: yellow;
    text-decoration: underline;
    transition: ease-in-out 0.2s;
}

/*----------------------------------------*/

/*Produtos*/
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 450px;

    text-align: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 23px;


}
.preço {
    font-weight: bolder;
    font-size: 1.2em;
}

.produto:hover {
    border: 2px solid yellow;
}

.produto:active {
    border: 2px  solid green;
}

/* deixar responsivo*/

@media (max-width: 600px) {
    /*Parte do Header*/
    .links ul {
        flex-direction: column;
    }
    li {
        padding-bottom: 5px;
    }

    /*Parte do Main*/

    .main-box{
        flex-direction: column;
    }
    .produto {
        margin: 20px 23px ;
    }
}

footer {
    background: url(../imagens/bg.jpg);
    text-align: center;
    padding: 40px 0px;
}

.copyright{
    color:white;
    font-size: 0.8em;
    margin-top: 5px;

}